
* {
    margin: 0;
    padding: 0;
    
}
.properBorder{
    border: 5px solid red;
}
 li{
    display: inline;
}
.main{
   text-align:center;
    width: 600px;
    height:600px;
    margin-bottom:20px;
}
.main, .footer {
    display: table;  
}
.container{
    max-width: 500px;
    margin: auto;
}

}
.footer h5{ 
    text-align:center;
    font-family: monospace;
}
.main p {
    padding:50px;   
   /* margin-left:auto;
   margin-right:auto; */
   text-align:left;
}

*{
    font-weight: bold;
}
.footer
{
    margin:auto;
    padding:auto;   
    text-align:center;
    width: 600px;
    
}
.footer ul{
   padding-top:10px;
   padding-bottom:10px;
}
.header{
    width:600px;
    float:left;
}
.logo{
    float: left;
    width:60%;
    height:60%;
    
}
.menu ul{
    padding:20px 50px 20px 10px;
}
.menu{
    margin-left: 50px;

}
h1 {
    padding-top:30px;
}