*{
    margin: auto;

}
.header {
  
    background-image: url('../img/sea-3657860_1920.jpg');
    background-color: #ff08ff31;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    font-family: sans-serif;

}
.navigation__navigation-list {
    display:flex;
    color:white;
    text-transform: uppercase;
    list-style: none;
}
.wrapper {
    width:60%;
    height:60%;
   
}
.navigation__navigation-list a {
    text-decoration: none;
    color:white;
}
.navigation__navigation-list a:hover{
    color:aqua;

}

.logoNavigationWrapper {
    display:flex;
    justify-content:space-around;
}
.logo {
    display:flex;
    color:rgb(47, 181, 221);
    font-size: 2rem;
}
.navigation li {
    font-size:10px;
    display:flex;
    justify-content: space-around;
    font-weight: bold;
    margin: 0 5% 0 5%;
overflow-wrap: normal;
}
.slider {
  
    margin: 15% 0 15% 0; 
    color:white;
    display: flex;
    flex-direction: column;
    
}
.slider__header {
    padding: 0 0 2% 0;
    text-align:center;
    text-transform: capitalize;
    position: relative;
    z-index : 1;
}
.slider__header:before {
    content : "";
    position: absolute;
    left    : 45%;
    bottom  : 0;
    height  : 1px;
    width   : 9%; 
    border-bottom:2px solid aqua;
  }

.slider__text {
    padding: 2% 0 0 0;
    text-align: center;
    margin:1%;
}
.slider__link {
    border: 1px solid aqua; 
    padding: 1%;
    font-weight: bold;
    text-decoration:none;
    color: aqua;
    text-align: center;
    margin-top: 5%;
}